/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
}

/* Home section */
#home{
height: 370px;
padding: 3px 68px;

}
#home::before{
    height: 480px;
    
}
#home p{
    font-size: 13px;
}

    
/* service section */
#services{
    flex-direction: column;

}

#services.box{

}

/* clients section */
#clients{
    overflow: hidden;

}

#clients{
    display: flex;
    flex-direction: column;
}

#client-section{
    
    height: 600px;
    
 }

 #client-section::before{
   
    height: 100%;
    
}
#clients img{
   height: 100px;
    
    margin: 10px 30px;
}
/* Contact us */

/* footer section */

/* utility classes */
.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}